- var host = '/vendor/';

include ./partial/icons.pug

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet", href=host + "css/style.css")
    title #{title}

    if siteType == 'new' || siteType == 'update'
      link(rel="stylesheet", href=host + "css/flatpickr.min.css")
      link(rel="stylesheet", href=host + "css/pell.min.css")

    body
      +icons()
      block content


    if siteType == 'new' || siteType == 'update'
      script(src=host + "js/flatpickr.min.js")
      script(src=host + "js/flatpickr.pl.js")
      script(src=host + "js/sortable.min.js")
      script(src=host + "js/pell.min.js")
      script(src=host + "js/zooom.min.js")

      script.
        const fileJson = '#{title}.json';
        const type = '#{siteType}';

      script(src=host + "js/script.js")